[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0.7"
graphene-django = "<=2.10.1"
django-graphql-jwt = "*"
django-cors-headers = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
